# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.pytest_cache/

# Local environments
.env
.venv/
venv/
env/

# Git files
.git
.gitignore

# Docker and compose
.dockerignore
docker-compose.yml

# Editor configs
.vscode/
.idea/

# Uploads
uploads/

# Test files and coverage
tests/
.coverage
htmlcov/

# logs
logs/
*.log