# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Flask environment variables
instance/
*.env

# VS Code and other IDEs
.vscode/
.idea/

# Pytest cache and coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Migrations
migrations/__pycache__/
migrations/*.pyc
migrations/versions/__pycache__/
migrations/versions/*.pyc

# Database
*.sqlite3
*.db

# Uploads
uploads/

# logs
logs/
*.log

# Mac/OSX
.DS_Store

